body {
    background-color: black;
    height: 730px;
}

#container {
    align-items: center;
    border: 1px solid black;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 80px;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    font-size: 30px;
    height: 70px;
    margin: 10px;
    width: 200px;
}

.button:hover {
    background-color: #0C090A;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    font-size: 30px;
    height: 70px;
    width: 200px;
}